#mainGridParent {
    display: grid;
    grid-template:
        [row1-start] "header" 5vw [row1-end]
        [row2-start] "content" 90vw [row2-end]
        [row3-start] "footer" 5vw [row3-end]
        / 1fr;
    justify-items: stretch;
    align-items: stretch;
}

nav {
    background-color: var(--bg-primary-color);
}